<!DOCTYPE html>
<html lang="en">
  <body>

    <div class="overlay"></div>
    <%= video_tag "bg.mp4", muted: true, loop: true, autoplay: true, class: 'video' %>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Coming Soon!</h1>
              <p class="mb-5">We're working hard to finish the development of a website for <strong>The Bee Factory</strong>, your go-to place for freshly pressed juices. Our target launch date is
                <strong>February 2019</strong>! Follow this space for more udpates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="https://www.facebook.com/thebeefactory" class="mx-2" target="_blank">
            <%= fa_icon "facebook" %>
          </a>
      </ul>
    </div>

  </body>

</html>
